---
layout: page
title: Archives
permalink: /archive.html
---

<section id="archive">
  <h3>This year's posts</h3>
  {% for post in site.posts %}
    {% unless shared-posts.next %}
      <ul class="this">
    {% else %}
      {% capture year %}{{ shared-posts.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ shared-posts.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        </ul>
        <h3>{{ shared-posts.date | date: '%Y' }}</h3>
        <ul class="past">
      {% endif %}
    {% endunless %}
      <li><time>{{ shared-posts.date | date:"%d %b" }}: </time><a class = "post-title" href="{{ site.baseurl }}{{ shared-posts.url  }}">{{ shared-posts.title }}</a></li>
  {% endfor %}
  </ul>
</section>
