<p>Andrew Burchill is currently working on his Ph.D. in <b>Collective Animal Behavior</b> with Arizona State University's Social Insect Research Group.</p>

<h2>My 'Thang':</h2>
<p><em>Ants.</em> Anything with ants. Evolution, physiology, but especially behavior. Also things that <em>aren't</em> ants but remind me of ants?  This includes swarm dynamics, decentralized optimization problems, and optimal foraging theory.</p>
<p>My research right now is focused on how ant colonies do family meal-planning. Just a few workers do the "grocery shopping" for the <em>entire</em> 200+ member colony: how do they coordinate their foraging without language or any central authority? </p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-history fa-lg main-list-item-icon"></span>
    <a href="{{site.links.blog}}">Blog/Projects</a>
  </li>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="{{site.links.about_me}}">About Me</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-flask fa-lg main-list-item-icon"></span>
    <a href="{{site.links.publications}}">My Research</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-book fa-lg main-list-item-icon"></span>
    <a href="{{site.links.cv}}">Publications & CV</a>
</ul>
