<p>Andrew Burchill is currently working on his doctoral thesis in <b>Collective Animal Behavior</b> with Arizona State University's Social Insect Research Group.</p>
<h2>My Jam:</h2>

<style>
label[for=extras-toggle] {
  cursor: pointer;
  }
#extras-toggle {
  display: none; 
  }
#extras {
  transition-duration: .7s;
  transition-property: font-size, opacity;
  font-size: 0pt;
  opacity: 0;
  }
#extras-toggle:not(:checked) ~ #extras {
  font-size: 100%;
  opacity: 1;
  }  
</style>

<label for="extras-toggle">
  <p><em>Ants.</em> Anything with ants. Evolution, physiology, but especially behavior. Also things that <em>aren't</em> ants but remind me of ants?  This includes swarm dynamics, decentralized optimization problems, and optimal foraging theory.</p>
</label>
<input id="extras-toggle" type="checkbox" checked />
<p id="extras">My research right now is focused on how ant colonies do family meal-planning. Just a few workers do the "grocery shopping" for the <em>entire</em> 200+ member colony: how do they coordinate their foraging without language or any central authority? </p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-history fa-lg main-list-item-icon"></span>
    <a href="{{site.links.blog}}">Blog/Projects</a>
  </li>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="{{site.links.about_me}}">About Me</a>
  </li>


<style>
label[for=pubs-toggle] {
  cursor: pointer;
  }
#pubs-toggle {
  display: none; 
  }
#pubs {
  transition-duration: .7s;
  transition-property: height, opacity;
  height: 0pt;
  opacity: 0;
  }
#pubs-toggle:not(:checked) ~ #pubs {
  height: 100%;
  opacity: 1;
  }  
</style>


  <li class="main-list-item">
    <span class="fa fa-flask fa-lg main-list-item-icon"></span>
    <label for="pubs-toggle">
	<a>Publications</a> 
    </label>
    <input id="pubs-toggle" type="checkbox" checked />

    <div id="pubs" class="eqi-container" style="margin: 0 25%"> gfdgdgfsdgfdg
        <div><a href="https://github.com/andburch/"><span class="fa fa-flask fa-lg main-list-item-icon" style="width: 36px;	color: $text-color;"></span></a></div>
        <div><a href="https://www.linkedin.com/in/andrew-burchill-ab21b479/"><span class="fa fa-flask fa-lg main-list-item-icon"></span></a></div> 
        <div><a href="https://twitter.com/AndrewBurchill/"><span class="fa fa-flask fa-lg main-list-item-icon"></span></a></div>
    </div>
    
  </li>
  <li class="main-list-item">
    <span class="fa fa-book fa-lg main-list-item-icon"></span>
    <div class="eqi-container"><div><span class="fa fa-flask fa-lg main-list-item-icon"></span></div></div>
    <a href="{{site.links.cv}}">CV</a>
</ul>
