<p>Andrew Burchill is currently working on his doctoral thesis in <b>Collective Animal Behavior</b> with Arizona State University's Social Insect Research Group.</p>
<h2>My Jam:</h2>
<label for="element-toggle">
  <p class="tooltip"><em>Ants.</em> Anything with ants. Evolution, physiology, but especially behavior. Also things that <em>aren't</em> ants but remind me of ants?  This includes swarm dynamics, decentralized optimization problems, and optimal foraging theory.</p>
</label>
<input id="element-toggle" type="checkbox" checked />
<p id="toggled-element">My research right now is focused on how ant colonies do family meal-planning. Just a few workers do the "grocery shopping" for the <em>entire</em> 200+ member colony: how do they coordinate their foraging without language or any central authority? </p>
<style>
  label[for=element-toggle] {
  cursor: pointer;
}
  
#element-toggle {
  display: none;
   
}
#toggled-element {
transition-duration: .9s;
    transition-property: font-size, opacity;
    font-size: 0pt;
    opacity: 0;
    }
#element-toggle:not(:checked) ~ #toggled-element {
  font-size: 100%;
  opacity: 1;
}
  
  
</style>
<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-history fa-lg main-list-item-icon"></span>
    <a href="{{site.links.blog}}">Blog/Projects</a>
  </li>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="{{site.links.about_me}}">About Me</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-flask fa-lg main-list-item-icon"></span>
    <a href="{{site.links.publications}}">My Research</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-book fa-lg main-list-item-icon"></span>
    <a href="{{site.links.cv}}">Publications & CV</a>
</ul>
